/*global colors*/
:root {
    --blue: #1b3a61;
    --white: #ffffff;
    --brown: #8c6910;
    --grey: #E1E5EC;
    --dark-grey :#666666;
    --yellow :#d2b859;
    --red: #e9261d;
  }

/*backgrounds and colors*/
.hero-bkg{
    background-image: url(/assets/shutterstock_42474535.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.card-background{
    background-color: var(--grey);
}
.service-divider{
    margin-left: 0.8rem;
    height: 10px;
    background-color: var(--blue);
}
.event-cal-divider{
    width:10%;
    color: #8c6910;
}
.update-tag{
    background-color: var(--dark-grey);
    color: #ffffff;
    border-radius: 2px;
}
.event-time-card{
    background-color: var(--brown);
    color: #ffffff;
    text-align: center;
    width: 95%;
    height: 70px;

}
.event-up-tag{
    background-color: var(--yellow);
    border-radius: 2px;
    color: black;
    margin-bottom: -20px;
}
.event-can-tag{
    background-color: var(--red);
    border-radius: 2px;
    color: #ffffff;
    margin-bottom: -15px;
}
.event-icon{
 width: 20px;
}
.top-icon{
    background-color:rgba(0,116,193,.25);
    padding: 10px;
    border-radius: 100px;
}
.event-divider{
    background-color: var(--brown);
    height: 3px;
    width: 50px;
    margin-top: 0px;
}

footer{
    background-color: var(--blue);
}
.footer-divider{
    display: none;
}

/*Text and heading*/
.title-text{
    font-family: 'Roboto Slab', serif;
    font-size: 32px;
    font-weight: 600;
    color: var(--white);
}
.heading-text{
    color: var(--blue);
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: 600;
}
.popular-links{
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
}
.updates-heading{
    font-family: "Open Sans";
    font-size: 18px;
}
.updates-subtext{
    font-family: "Open Sans";
    font-size: 14px;
}
.updates-meta-text{
    font-family: "Open Sans";
    font-size: 12px;
    margin-top: -10px;
}
.event-month{
    font-family: "Open Sans";
    font-size: 16px;
    padding-top: 5px;
    margin-bottom: -12px;
    font-weight: 600;
}
.event-date{
    font-family: "Open Sans";
    font-size: 30px;
    margin-bottom: 5px;
    font-weight: 600;
}
.event-heading{
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
}
.event-up-tag, .event-can-tag{
    font-size: 12px;
}
.event-detail{
    font-size: 16px;
    font-family: "Open Sans";
    margin-bottom: 5px;
    line-height: 1.375;
    margin-left: -5px;
}
.update-date{
    color: #757575;
}

.footer-menu-text{
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 500;
    color: var(--white);
    text-decoration: none;
}
.footer-heading{
    color: #93a4bd;
    font-size: 14px;
    font-weight: 700;
}
.footer-subtext{
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
    margin-bottom: 20px;
    margin-top: -5px;
}
.card-text{
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    color: var(--blue);
    margin-top: 20px;
}

/*images*/
.footer-logo{
    width: 135px;
}
.card-icon{
    width: 114px;
    height: 99px;
}

/*padding and margins*/
.pr--5{
    padding-right: 5rem ;
}
.pt--3{
    padding-top: 5rem;
}
.hero-row{
    height: 387px;
}

/*buttons*/
.update-btn{
    background-color: #0074c1;
    color: var(--white);
    border: none;
    font-family: "Open Sans";
    font-size: 16px;
}
.event-btn{
    background-color: #0074c1;
    color: var(--white);
    border: none;
    font-family: "Open Sans";
    font-size: 16px;
    width: fit-content;
}
.top-btn{
    font-family: "Open Sans";
    font-size: 16px;
    text-decoration: none;
    text-align: right;
    
}
.mt---10{
    margin-top: -10px;
}

/*search bar*/
/* .search-bar{
    background-color: #ffffff;
    border-radius: none;
    border: none;
    width: 90%;
} */
.form-control{
    display: block;
    width: 100%;
    height: calc(1.375em + 1.5rem + 2px);
    padding: 0.75rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    color: #000;
    background-color: var(--white);
    background-clip: padding-box;
    border: 1px solid #ccc;
    border-radius: 2px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-right: -100px;
}

.submit-btn{
    padding: 14px 35px;
    font-family: "Open Sans";
    letter-spacing: 1px;
    font-weight: 600;
    color: var(--white);
    background-color: #0074c1;
    border-radius: none;
    border: none;
    font-size: 14px;
}

/*misc*/
.mob-div{
    display: none;
}


@media (max-width: 768px) {  

    .event-time-card{
        width: 100%;
    }   
    /*Text and heading*/
    .title-text{
        font-size: 28px;
    }
    .heading-text{
        font-size: 26px;
    }
    .popular-links{
        font-size: 18px;
    }
    .updates-heading{
        font-size: 18px;
    }
    .updates-subtext{
        font-size: 14px;
    }
    .updates-meta-text{
        font-size: 12px;
    }
    .event-month{
        font-size: 14px;
        margin-bottom: -10px;
    }
    .event-date{
        font-size: 26px;
    }
    .event-up-tag, .event-can-tag{
        font-size: 12px;
    }
    .event-detail{
        font-size: 14px;
    }
    .update-date{
        color: #757575;
    }
    .card-text{
        font-size: 16px;
    }

    
    /*padding and margins*/
    .pr--5{
        padding-right: 1rem ;
    }
    .pt--3{
        padding-top: 2rem;
    }
    
    /*buttons*/
    .update-btn{
        font-size: 14px;
        margin-bottom: 30px;
    }
    .event-btn{
        font-size: 14px;
    }
    .top-btn{
        font-size: 14px;
    }
    .submit-btn{
        margin-top: 15px;
        padding: 14px 25px;
        font-size: 12px;
    }

    /*footer*/
    .footer-divider{
        display: block;
        color: var(--white);
        margin-top: 20px;
        margin-bottom: 20px;
        width: 95%;
    }

    /*misc*/
    
    .mob-div{
        display: block;
        margin-top: 20px;
    }

    .mob-divider{
        display: none;
    }
    .service-divider{
        width: 95%;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {    

    .event-time-card{
        width: 100%;
    }   
    /*Text and heading*/
    .title-text{
        font-size: 26px;
    }
    .heading-text{
        font-size: 26px;
    }
    .popular-links{
        font-size: 18px;
    }
    .updates-heading{
        font-size: 18px;
    }
    .updates-subtext{
        font-size: 14px;
    }
    .updates-meta-text{
        font-size: 12px;
    }
    .event-month{
        font-size: 14px;
        margin-bottom: -10px;
    }
    .event-date{
        font-size: 26px;
    }
    .event-up-tag, .event-can-tag{
        font-size: 12px;
    }
    .event-detail{
        font-size: 14px;
    }
    .update-date{
        color: #757575;
    }
   
    .card-text{
        font-size: 16px;
    }
    
    /*padding and margins*/
    .pr--5{
        padding-right: 1.5rem ;
    }
    .pt--3{
        padding-top: 2rem;
    }
    
    /*buttons*/
    .update-btn{
        font-size: 14px;
    }
    .event-btn{
        font-size: 14px;
    }
    .top-btn{
       font-size: 14px;
    }
    .submit-btn{
        padding: 14px 30px;
        font-size: 12px;
        margin-top: 0px;

    }

    /*footer*/
    .footer-divider{
        display: none;
    }

    /*misc*/
    .mob-div{
        display: none;
    }

}



/*Shaoor CSS*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.main-container {
  /* height: 90px; */
  padding: 0% !important;
  height: max-content;
  flex-wrap: unset !important;
}
.bg-body {
  border: 2px solid #93a4bd;
  border-left: unset !important;
}
.menu-btn {
  height: 90px;
  width: 70px;
  border-radius: 0% !important;
  padding: 0% !important;
  font-size: 13px !important;
  background-color: #3068ad !important;
}

@media screen and (max-width: 1215px) {
  .menu-btn {
    height: 120px !important;
  }
}
@media screen and (max-width: 746px) {
  .last-menu-col-style {
    font-size: 13px !important;
  }
  .menu-col-style {
    font-size: 13px !important;
  }
}
@media screen and (max-width: 588px) {
  .last-menu-col-style {
    font-size: 11px !important;
  }
  .menu-col-style {
    font-size: 11px !important;
  }
  .heading-five {
    font-size: 12px !important;
  }
  .link-decoration {
    font-size: 11px !important;
  }
}
@media screen and (max-width: 578px) {
  .main-container {
    flex-wrap: inherit !important;
  }
  .menu-btn {
    width: 100vw;
    font-size: 20px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: flex-start !important;
  }
  .bi-style {
    height: 100px !important;
    width: 80px !important;
  }
}
.menu-btn-active {
  background-color: #1b3a61 !important;
}
.menu-btn:hover {
  background-color: #225089 !important;
}

.navbar {
  padding: 0% !important;
}
.dropdown-menu-style {
  height: max-content !important;
  width: 100vw !important;

  border-radius: 0% !important;
}

.col-right {
  align-items: center;
  justify-content: flex-end;
}
.img-style {
  height: 70px;
  width: 70px;
  margin-right: 20px;
}
.img-style:hover {
  opacity: 0.6;
}
.col-left {
  display: flex;
  align-items: center;
}
.text-style {
  display: flex;
  flex-direction: column;
}
.heading-three {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  font-weight: 600;
  color: #225089;
}
.heading-six {
  color: #3068ad;
  font-family: "Open Sans";
  font-style: italic;
  font-size: 14px;
  font-weight: 500;
}
.nav-link {
  margin-right: 2rem;
  color: #3068ad !important;
  font-family: "Open Sans" !important;
  font-size: 15px !important;
  font-weight: 500 !important;
}
.search-menu {
  width: 450px !important;
  right: 0px !important;
  top: 33px !important;
  margin-right: 0% !important;
  background-color: #0074c1 !important;
  border: unset !important;
}
.search-flex {
  height: 50px !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 0% !important;
}
.form-style {
  align-items: center !important;
  justify-content: center !important;
  border-radius: 0% !important;
}
.search-style {
  width: 330px !important;
  border-radius: 0% !important;
}
.search-btn {
  border-radius: 0% !important;
  /* width: 5vw !important; */
}
.icon-btn {
  border-radius: 0% !important;
  background-color: #0074c1 !important;
}
.row-margin {
  margin: 0% !important;
  padding: 0% !important;
}
.first-col {
  margin: 0% !important;
  padding: 0% !important;
  height: inherit !important;
  background-color: #f3f6f9;
  display: flex;
  justify-content: center;
  border-bottom: 8px solid #1b3a61 !important;
}
.second-col {
  margin: 0% !important;
  padding: 0% !important;
  height: inherit !important;
  display: flex;
  justify-content: center;
  border-bottom: 8px solid #1b3a61 !important;
}
.last-col {
  margin: 0% !important;
  padding: 0% !important;
  height: inherit !important;
  display: flex;
  border-bottom: 8px solid #1b3a61 !important;
}
.menu-col-style {
  border-bottom: 1px solid #93a4bd;
  height: 50px !important;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  color: #142b47;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: bold;
}
.last-menu-col-style {
  height: 50px !important;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  color: #142b47;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: bold;
}
.all-col {
  flex-direction: column;
  padding-top: 2rem !important;
}
.heading-five {
  color: #225089;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: bold;
}
.divider {
  width: 60px !important;
  background-color: #8c6910;
}
.link-decoration {
  text-decoration: none !important;
  color: #225089;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 0.4rem;
}